PORT=3000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB?schema=public
JWT_SECRET=CHANGE_THIS_LONG_RANDOM_SECRET
ADMIN_EMAIL=admin@ranzpanel.com
ADMIN_PASSWORD=ranz0908
FRONTEND_URL=ranzpanel.up.railway.app
APP_ENCRYPTION_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
